
nav{
    background-color: #f4f7fb;
    padding:2em 0;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav__center ul {
  display: flex;
  /* gap: 2em; */
  list-style-type: none;
  font-size: 1.2rem;
}

.nav__center ul :hover {
  background-color: orange;
  color:white;
  cursor: pointer;

}

.nav__center ul li{
    padding: .5em 1.5em;
}

.nav__right {
  gap: 25px;
}
.b-image {
  margin-right: 5em;
}
p{
  padding-top:2em;
}